@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
p {
    margin:0;
    padding : 0;
}

html, body {
    height : 100vh;
   
}

* {
    margin : 0;
    padding : 0;
}
.left-content {
    float : left;
    width : 30%;
    height : inherit;
    
    overflow : hidden;
}

.right-content {
    float: left;
    height : 100%;
    width: 70%;
    height : auto;
}


.fix-wrap {
    width : inherit;
    position : fixed;  
    padding-top : 58px; 
    overflow : hidden;
    height : 100%;
    background-color: #708098
}   
.myPic {
    display : block;
    background-color: white;
    margin : auto;
    margin-top : 10px;
    margin-bottom : 20px;
    padding : 8px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);

}   
.info {
    width : 266px;
    margin : auto;
}
.name {
    line-height : auto;
    float : left;
    text-align: center;
    color : white;
    font-size : 35px;
    font-family: 'Black Han Sans', sans-serif;
    margin-top : 10px;
    padding : 0;

}

.birth {

    float : right;
    text-align: center;
    color : white;
    font-size : 17px;
    font-family: 'Black Han Sans', sans-serif;

    margin-top : 19px;

}

.school {
    clear : both;
    color : white;
    font-size : 20px;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.proficiency {
    margin-top : 10px;
    color : white;
    font-family: 'Black Han Sans', sans-serif;
    font-size : 25px;
}

.tech-name {
    font-family: 'Noto Sans KR', sans-serif;
    color : white;
    font-weight: bold;
    margin-bottom : 0;
}

.per-java-back {
    display : inline-block;
    width: 50%;
    height : 10px;
    background-color: #B9CDE3;
}

.per-java {
    display : inline-block;
    width : 50%;
    height : 10px;
    margin : 0 -6px;
    background-color : #9AB4D4;

}

.tech {
    margin-bottom : 5px;
}

.per-CSS-back {
    display : inline-block;
    width: 25%;
    height : 10px;
    background-color: #B9CDE3;
}

.per-CSS {
    display : inline-block;
    width : 75%;
    height : 10px;
    margin : 0 -6px;
    background-color : #9AB4D4;

}

.per-DB-back {
    display : inline-block;
    width: 40%;
    height : 10px;
    background-color: #B9CDE3;
}

.per-DB {
    display : inline-block;
    width : 60%;
    height : 10px;
    margin : 0 -6px;
    background-color : #9AB4D4;

}

.menu {
    z-index : 10;
    position : fixed;
    width: inherit;
    height : 80px;
    overflow : hidden;
  

}
.menu-block{
    margin : auto;
    width : 95%;
    height : 79px;
    border-bottom : 1px solid #708098;
    background-color: white;
}
.menu-name {
    float : left;
    width : 20%;
    height : 100%;
    text-align : center;
    padding-top : 25px;
    font-family: 'Noto Sans KR', sans-serif;
    color : #708098;
    font-weight : bold;
    font-size : 20px;   
}
.menu-name:hover {
    color : white;
    background-color: #708098;
}


.main-contents {
    margin : auto;
    width : 95%;
    height : inherit;
    margin-top : 100px;
    overflow : hidden;
}


/* profile content */

.profile-content {
    font-family: 'Black Han Sans', sans-serif;
    color : #708098;
}
.title-h1 {
    float : left;
    font-size : 38px;
}
.title-h2 {
    float : left;
    font-size : 35px;
}
.line {
    clear:both;
    height : 0.1px;
    width : 100%;
    border-bottom : 0.1px solid #7080984d;
    margin-bottom : 15px;
}

.contents {
    clear : both;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight : bold;
    padding-top : 10px;
    overflow:hidden;
    margin-bottom : 20px;
    

}

.profilePic {
    float : right;
   
}


.profile-info1 {
    font-size : 20px;
    text-align : left;
    color : #708098;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight : bold;
    overflow:hidden;
   
    
  
}
.tag {
    float: left;
   
}
.tag-box {
    
    width : 100px;
    background-color: #708098   ;
    text-align : center;
    color : white;
    margin-bottom : 10px;
    
    
}


.tag-box-content {
    float : left;
    margin-left : 10px;
    
}
.tag-box-content-p {
    margin-bottom : 10px;
    margin-right : 10px;
    font-weight : lighter;

}

.about-content .title-h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size : 38px;
    color :#708098;
}

.about-content .title-h2 {
    font-size : 30px;
    font-family: 'Black Han Sans', sans-serif;
    color :#708098;
}

.contents .introduce {
    color : #708098;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight : 100;  
}
.skills-section {
    
}

.skills-half {
    
}
.skills-section-1 {
    overflow : hidden;
    float: left;
    width : 50%;
    

}

.skills-section-2 {
    
    float : left;
    width : 50%;
    height : 300px;


}
.stick {
    margin-top : 10px;
}
.stick-java {
    float : left;
    height : 20px;
    width : 40%;
    background-color: #9AB4D4;
}

.stick-per-java {
    float : left;
    height : 20px;
    width : 40%;
    background-color: #708098;
}

.skills-half p {
    font-family: 'Noto Sans KR', sans-serif;
    color :#708098;
    font-size : 30px;
    font-weight : lighter;
}

.skills-set-java {
    margin-bottom : 20px;
    overflow : hidden;
}

/* Node */

.skills-set-node {
    margin-bottom : 20px;
    overflow : hidden;
}
.stick-node {
    float : left;
    height : 20px;
    width : 70%;
    background-color: #9AB4D4;
}

.stick-per-node {
    float : left;
    height : 20px;
    width : 10%;
    background-color: #708098;
}

/* DB */

.skills-set-DB {
    margin-bottom : 20px;
    overflow : hidden;
}

.stick-DB {
    float : left;
    height : 20px;
    width : 45%;
    background-color: #9AB4D4;
}

.stick-per-DB {
    float : left;
    height : 20px;
    width : 35%;
    background-color: #708098;
}

.skills-set-DB {
    margin-bottom : 20px;
    overflow : hidden;
}

/* net */

.skills-set-net {
    margin-bottom : 20px;
    overflow : hidden;
}

.stick-net {
    float : left;
    height : 20px;
    width : 35%;
    background-color: #9AB4D4;
}

.stick-per-net {
    float : left;
    height : 20px;
    width : 45%;
    background-color: #708098;
}

.skills-set-net {
    margin-bottom : 20px;
    overflow : hidden;
}

/* net */

.skills-set-fr {
    margin-bottom : 20px;
    overflow : hidden;
}

.stick-fr {
    float : left;
    height : 20px;
    width : 60%;
    background-color: #9AB4D4;
}

.stick-per-fr {
    float : left;
    height : 20px;
    width : 20%;
    background-color: #708098;
}

.project {
    overflow : hidden;
    margin-bottom : 40px;
}

.project-head {
    overflow : hidden;
}

.project-name {
    float : left;
    font-size : 25px;
    font-weight : bold;
}

.project-date {
    float : right;
    font-size : 17px;
    font-weight : lighter;

}

.project-content {
    margin-top : 20px;
    clear : both;
}

.project-position {
    font-size : 15px;
    font-weight : bold
}

.project-explanation {
    margin-top : 5px;
    font-size : 15px;
    font-weight : lighter;
}
.email-header {
   
   margin-bottom : 20px;
}
.email {
    width : 700px;
    margin-top : 25px;
    margin-left: auto;
    margin-right : auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.aa {
    z-index : 5;
}

.text-box {
    border-radius: 8px;
    border : 1px solid rgb(182, 182, 182);
    font-size : 15px;
    font-family: 'Noto Sans KR', sans-serif;
    margin : 0;
    resize : none;
}


.text-box:focus {
    
    outline : none;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.email .email-title {
    font-size : 25px;
    margin-bottom : 5px;
}

.email .email-body {
    font-size : 25px;


}

.bonaegi {
    margin :auto;
    margin-top : 30px;
    width : 70px;
    margin-bottom : 30px;
    
}

.sub {
    width : 70px;
    height : 30px;
    color : #707070;
    background-color: white;
    border-radius: 8px;
    border : 1px solid rgb(182, 182, 182);
}

.sub:hover {
    width : 70px;
    height : 30px;
    background-color: rgb(240, 240, 240);
    color : #303030;
    border-radius: 10px;
    border : 1px solid rgb(182, 182, 182);
}

.sns {

    text-align : center;
    margin-top : 30px;
}

.sns-icon {
    margin : 0 15px;
}

.more-sns {
    text-align : center;
}

.notion_icon {
    width : 5%;
}

.sns-icon {
    text-align : center;
    margin-bottom : 25px;
}

.snsico {
    margin: 0 15px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}

/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Black Han Sans', sans-serif; */